<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- <appender name="FILE" class="ch.qos.logback.core.FileAppender"> <file>/home/markus/Downloads/upload/uploadJersey.log</file> 
		<layout class="ch.qos.logback.classic.PatternLayout"> <Pattern>%d{HH:mm:ss.SSS} 
		[%thread] %-5level %logger{36} - %msg%n </Pattern> </layout> </appender> -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<logger name="de.linkinglod" level="TRACE" />
	
	<logger name="org.hibernate.SQL" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.hibernate.type" additivity="false">
		<level value="TRACE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>